@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;700&display=swap')

body
  font-family: 'Spline Sans', sans-serif

div.container
  > h2
    text-align: center
  > p, > div
    padding-right: 32px
    padding-left: 32px
  > footer
    margin-top: 18px
    padding-top: 8px
    text-align: center
  > footer > a, > p > a
    font-weight: bold
    text-decoration: none
a#repo_url
  position: relative
  img
    visibility: hidden
    border-radius: 6px
    position: absolute
    z-index: 1
    width: 300px
a#repo_url:hover
  img
    visibility: visible
